name: tests

on:
  push:
    paths:
      - "sourcelib/**"
      - "tests/**"
      - .github/workflows/tests.yml
  pull_request:
    paths:
      - "sourcelib/**"
      - "tests/**"
      - .github/workflows/tests.yml

env:
  OS: ubuntu-latest
  PYTHON_VERSION: "3.8"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        shell: bash
        run: |
          pip install -r requirements.txt
      - name: Generate coverage report
        run: |
          pip install pytest
          pip install pytest-cov
          pytest --cov=./sourcelib --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true